# Node
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
env/
.venv/

# Secrets
.env
server/.env
*.db
*.key
*.pem
web/android/keystore.properties
web/keystore/

# OS
.DS_Store

# Editor
.vscode/
.idea/
